@use '../custom-vars' as *;
@use '../components/mixins';
@use '../components/typography';
@use '../components/buttons';

//navbar section
.navbar {
    @include mixins.gradient;

    .nav-link {
        font-weight: 700;
        color: $white !important;
    }

    .navbar-nav {
        @media(max-width: 768px) {
           text-align: center;
        }
    }

}

.counter { 
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: 0.05em 0.05em 0.5em 0.03em $primary, -0.05em -0.05em 0.5em 0.03em $secondary;

    @media(max-width: 576px) {
        width: auto;
    }

    .btn:hover {
        box-shadow: 0.1em 0.1em 0.5em $gray-500, -0.1em -0.1em 0.5em $gray-500;
    }

    .btn:active {
        box-shadow: 0.1em 0.1em 0.1em $gray-500, -0.1em -0.1em 0.1em $gray-500;
    }
    
}

body {
    padding-top: 20em;
    background-color: #F2F2F2;
}