@use '../custom-vars' as *;
@use '../components/mixins';
@use '../components/typography';
@use '../components/buttons';

//navbar section
.navbar {
    @include mixins.gradient;

    .nav-link {
        font-weight: 700;
        color: $white !important;
    }

    .navbar-nav {
        @media(max-width: 768px) {
           text-align: center;
        }
    }

}

.counter { 
    width: 50%;
    box-shadow: 0.05em 0.05em 0.5em 0.03em $primary, -0.05em -0.05em 0.5em 0.03em $secondary;

    .btn:hover {
        box-shadow: 0.1em 0.1em 0.5em $gray-500, -0.1em -0.1em 0.5em $gray-500;
    }

    .btn:active {
        box-shadow: 0.1em 0.1em 0.1em $gray-500, -0.1em -0.1em 0.1em $gray-500;
    }
    
}

body {
    background-color: #F2F2F2;
    .d-flex {
        min-height: 100vh;
        display: flex;
        align-items: center;
      
    }

    @media (max-height: 660px) {
        padding-top:1.5em;
    }

    @media (max-height: 550px) {
        padding:2.5em 0 1em 0;
    }

    @media (max-height: 455px) {
        padding:4.5em 0 2em 0;
    }

    @media (max-height: 300px) {
        padding:6em 0 3em 0;
    }

}