@use '../custom-vars' as *;
@use '../components/mixins';
@use '../components/typography';
@use '../components/buttons';

//navbar section
.navbar {
    @include mixins.gradient;

    .nav-link {
        font-weight: 700;
        color: $white !important;
    }

    .navbar-nav {
        @media(max-width: 768px) {
           text-align: center;
        }
    }

}

.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    background-color: #F2F2F2;
}