@use '../custom-vars' as *;
@use './mixins' as *;

.btn-rounded {
    position: relative;
    padding: 0.5em 3.5em 0.5em 1em;
    color: $primary;

    span {
        position: absolute;
        background-color: $secondary;
        width: 1.8em;
        height: 1.8em;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            color: $white;
            line-height: 1.8;
        }

    }
}

.btn-rounded:hover {
    @include gradient;
    color: $white;
    span {
        background-color: $primary;
    }
    border: 0.1em $white solid;
}