@use '../custom-vars' as *;

//intro section
.intro {

    font-family: 'Poppins', sans-serif;

    &-heading {
        font-weight: 700;
        font-size: 3rem;
        @media(max-width: 768px) {
            text-align: center;
            font-size: 2.5rem;
        }
    }

    &-description {
        font-size: 1.2rem;
        @media(max-width: 768px) {
            text-align: center;
            font-size: 1rem;
        }
    }
}

.btn-rounded {
    font-weight: 800;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    @media(max-width: 768px) {
        font-size: 1rem;
    }
}

//javascript projects section
.javascript {
    .heading-line::before {
        content: "";
        width: 10rem;
        height:0.2rem;
        display: block;
        background-color: $primary;
        margin: 0 auto;
    }

    .heading-line::after {
        content: "";
        width: 2rem;
        height:0.2rem;
        display: block;
        background-color: $primary;
        margin: 0 auto 1rem;
        padding-top: 0.5rem;
    }
    
}

// color flipper
.btn-color {
    font-family: 'Poppins', sans-serif;
    &-text{
        font-size: 2.7rem;
        font-weight: 800;
        text-align: center;
        letter-spacing: 0.3rem;
    }
    text-shadow: -0.05em 0.05em 0 #FFF,
                0.05em 0.05em 0 #FFF,
                0.05em -0.05em 0 #FFF,
                -0.05em -0.05em 0 #FFF;
    
}

.color-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    text-shadow: -0.05em 0.05em 0 #FFF,
                0.05em 0.05em 0 #FFF,
                0.05em -0.05em 0 #FFF,
                -0.05em -0.05em 0 #FFF;
}

//counter
.counter {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    min-width: 70%;

    h1 {
        font-weight: 500;
    }

    #value {
        font-weight: 500;
        font-size: 5rem;
    }
    
    .col-sm-4 {
        padding: 0;
    }

    .btn {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 3rem;
        }
    
        #value {
            font-size: 6rem;
        }

        .btn {
            font-size: 1.3rem;
        }
    }

    @media (min-width: 1100px) {
        h1 {
            font-size: 3.5rem;
        }
    
        #value {
            font-size: 8rem;
        }

        .btn {
            font-size: 1.7rem;
        }
    }

    @media (min-width: 1400px) {
        h1 {
            font-size: 5rem;
        }
    
        #value {
            font-size: 10rem;
        }

        .btn {
            font-size: 2rem;
        }
    }

    


}

//quotes page
section{
    font-family: 'Poppins', sans-serif;

    h4 {
        margin-bottom: 0.1em;
    }

    h2 {
        margin-top: 0.5em;
        margin-bottom: 0.1em;
        font-weight: 600;
        letter-spacing: 0.5em;
    }

    #info {
        color: $primary;
    }

    p {
        font-size: 1.3rem;
    }

    .btn-container {
       .btn {
            color: $primary;
            font-size: 2rem;
        }

        .btn:hover {
            color: $secondary;
        }

        .btn:active {
            color: $secondary-dark;
        }

    }

    .btn-outline-primary:hover {
        color: $white;
    }

    @media (max-width: 576px) {
        h2 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }

    }

}